@model EmployeeManagementMVC.Models.Employee

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>
        </title>
    </head>
    <body>
        <h3>@ViewBag.PageTitle</h3>
        
        <div>
            Name: @Model.Name
        </div>
        <div>
            Email: @Model.Email
        </div>
        <div>
            Deparment: @Model.Department
        </div>
        <h1>Details -cshtml from Views/Home folder </h1>
    </body>
</html>
